body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
    gap: 300px;
}

.break {
    width: 100%;
}

.header {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    padding: 20px;
}

.anur {
    font-size: x-large;
    font-weight: bold;
    color: blue;
}

.calc_body {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    gap: 50px;
}

.display_results {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid blue;
    padding: 10%;
}

.digits {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    gap: 5px;
    padding: 0;
}

.number {
    flex: 1;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.operation_buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 10px;
}

 .add {
    flex: 1;
    padding: 0;
    margin-left: 10px;
}

.sub{
    flex: 1;
    padding: 0;
    margin-right: 10px;
} 

.multiply {
    flex: 1;
    background-color: pink;
}

.divide {
    flex: 1;
    background-color: pink;
}

.clear {
    flex: 1;
    background-color: pink;
}

.col_operations {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap:10px;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    gap:5px;
}

.equals {
    flex: 1;
    padding: 0;
    margin-right: 10px;
}